.film-card-list-container {
  padding: 20px;

}

.film-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}

.film-card {
  min-width: 300px;
  max-width: 400px;
}